*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
}
header h1{
    margin-left: 5%;
    margin-top:5PX;
}
.nav{
display:flex;
padding-right: 10%;
margin: 10px;
}
header{
    background-color: white;
}
a{
  padding: 25px;
  text-decoration: none;
  font-size: 20px;
  color: black;
}
 header button{
    margin-right:5%;
    text-decoration-style: none;
    width: 150px;
    margin: 10px;
    height: 35px;
    color: white;
    background-color:green;
    border-style: none;
}
.h1{
    text-align: center;
    margin: 10%;
    background-image:url(imagess.jpeg);
    background-size: cover;
   background-position:center;
 }
section button{
    text-decoration-style: none;
    height: 40px;
    width: 160px;
    margin: 35px;
    color: white;
    background-color: green;
    border-style: none;
   
}

section h1{
    font-size: 3rem;
    color:white
}
h2{
    color: green;
    font-size: 3rem;
}
 
section p{
    color: white;
    font-size: 20px;
    margin-left: 7%;
    
}
.arti{
    background-color: white;
    
    
}
.arti h2{
    color: black;
    margin-left: 5%;
    margin-top: 8%;
}
.arti .p{
    color: green;
    margin-left: 10%; 
}
article h3{
    margin-left: 7%;
    color: black;
    margin-top: 5%;

}
article p{
    color: black;
    font-size: 12px;
    margin-top: 4%;
}
article{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
   
}
.bord{
    box-shadow:10px;
    border-left-style:outset;
    border-bottom-style: outset;
    height: 170px;
}
.image{
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
    height: 260px;   
       
}

.foo{
    color: black;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    
}
.footer p{
    font-size: 15px;
}
h4{
    font-size: 30px;
}
@media screen and (max-width: 600px) {
 
    header a{
        display:none;
        
    }
    .image{
        flex-direction: column;
        height: 200px;
        margin-top: 10px;
    }
    article{
        flex-direction: column;
    }
    .image img{
        margin: 15px;
    }
    .bord{
        margin: 15px;
    }
    .footer{
        flex-direction: column;
        margin-top: 800px;
        align-content: center;
        margin-left: 35%;
    }
    .footer p{
        margin: 20px;
    }
    .foo{
        font-size:5px;
    }
}
@media screen and (max-width: 480px){

    .foo{
        font-size: 8px;
        margin-right: 10%;
    }

    h2{
        font-size: 2rem;
    }
}
    
.icon{
    font-size: 30px;
    margin: 5px;
}
